/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
@import url("./variable.css");

.header{
    padding: 1em var(--lumo-space-m);
    background: var(--dark-blue);
}

.header h1{
    color: var(--white);
}

.drawer{
    z-index: 3;
    background: var(--mid-blue);
    position: absolute;
    top: 0;
    left: 0;
}

.main{
    margin: 8rem 0 0 0;
}

.pointer{
    cursor: pointer;
}

a{
    text-decoration: underline;
    color: var(--white);
}

.v-textfield-input{
    text-align: right !important;
}
.card{
    box-shadow: 0 0 0.3rem var(--dark-blue);
    border-radius: 0.3rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}